<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="slancer.mindfly.service.account.dao.WeichatAccountDAO">
    <resultMap id="WeiChatAccountEntityMap" type="UserEntity">
        <id column="open_id" jdbcType="BIGINT" property="openId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="all_fields">
        user_id, open_id,create_time
    </sql>

    <insert id="insert" parameterType="WeiChatAccountEntity">
        insert into weichat_account (
        <include refid="all_fields"/>
        ) values (
        #{user_id}, #{openId}, #{createTime}
        )
    </insert>

    <select id="getById" resultMap="WeiChatAccountEntityMap">
        select <include refid="all_fields" />
        from weichat_account
        where open_id=#{openId}
    </select>

</mapper>